<div class="container">
    <br>
    <div *ngIf="star.id != 0; else add">
        <h2 class=" display-4 text-center">Edit Star</h2>
    </div>
    <ng-template #add>
        <h2 class=" display-4 text-center">Add Star</h2>
    </ng-template>
    <br>
</div>

<div class="container">
        <form [formGroup]="starForm" (ngSubmit)="onSubmit()">
    
            <div class="form-group">
                <label>ID</label>
                <input type="text" class="form-control" formControlName="starId" placeholder="ID not yet assigned">
            </div>
    
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="starName" placeholder="Enter star name"
                    required>
                    <div class="alert alert-danger" *ngIf="starName.invalid && (starName.dirty || starName.touched)">Name is required</div>    
            </div>
    
            <div class="form-group">
                <label>Density</label>
                <input type="text" class="form-control" formControlName="starDensity" placeholder="Enter star density"
                    required>
                    <div *ngIf="starDensity.errors && (starDensity.dirty || starDensity.touched)">
                        <div class="alert alert-danger" *ngIf="starDensity.errors.required ">Density is required</div>
                        <div class="alert alert-danger" *ngIf="starDensity.errors.pattern">Density must only be a number</div>   
                    </div>
            </div>
    
            <button type="submit" class="btn btn-success col-2" [disabled]="!starForm.valid">Save</button>
            <button type="button" class="btn btn-danger col-2" [routerLink]="['/stars']">Return</button>
    
        </form>
    </div>